body {
  text-align: center;
  font: 16px arial, sans-serif;
}

.stupid-header {
  color: #57068c;
  text-transform: uppercase;
}

.stupid-content-image {
  display: inline-block;
  width: 40%;
  padding: 15px 2.5%;
}

img {
  max-width: 100%;
  height: auto;
}

.stupid-categories {
  text-align: center;
  width: 100%;
  font-weight: bold;
  text-transform: uppercase;
}

.stupid-category {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: yellow;
}

.stupid-content-text {
  display: inline-block;
  width: 40%;
  padding: 15px 5%;
}

.stupid-fake-sponsors {
  text-transform: uppercase;

}

@media only screen and (max-width: 768px) {

  .stupid-content-image,
  .stupid-content-text {
    width: 90%;
    padding: 5%;
    float: none;
  }
}
